@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>

	<body>

		<div class="frame">	
            <div class="wrapper">
	            <div class="banner"></div>
	            <div class="content" id="filled">
                    <article>
	                    <h2>So you wanna buy some Beef?</h2>
                        <p>Order form information and content goes here.</p>
                    </article>
	       
                </div>

	            <div class="menu"><ul>
		                <li><a href="Info">About Us</a></li>
		
		                <li id="right_menu"><a href="Order">Order Beef</a></li>
	                </ul>

	                <div id="footer">
			                <span class="copyright"> &copy; 2014 Wallace Farm</span>
	                </div>
	            </div>

	        </div>

         </div>
	</body>
</html>