body {
	background: #F5E6C6;
}

.frame{
	margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
	padding: 10px;
    width: 1046px;
	height: 674px;
	background: url("../Images/frame_border2.png") top center no-repeat;
}

.wrapper{
	margin-top: 50px;
	width:900px;
	height: 538px;
    position: relative;
	margin-right: auto;
	margin-left: auto;
	border-style:solid;
	border-width: 3px;
	background: url("../Images/farm3.jpg");
}

#home{
	background: url("../Images/farm2.jpg");
}
.banner{
	height: 100px;
}
.content{
    background-color: transparent;
	height: 403px;
    position: relative;  
}
.content p{
    margin:0px;
    padding:0px;
}
.textboxclass {
    width: 190px;
}
.textboxclass2 {
    width: 130px;
}
.textboxclass3 {
    width: 30px;
}
.dropdown {
    width: 210px;
}
.dropdown2 {
    width: 110px;
}

article {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#filledWhite {
    background: #FFF;
}

#filledGray {
    background: #eee;
}


/* Deals with tab postioning and content on the info page*/
.tabs {
    position: relative;   
    height: 403px; 
    width:900px;
    clear: both;
    margin: 0;
}

.tab {
    float: right;
    margin-right: 1px;
    width: 170px;
}

.tab label {
    height: 27px;
    background: #eee; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px;
    display: inline-block;
}

.tabButton {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    display: inherit;
    color: black;
    padding: 10px;
    padding-top: 5px;
    width: 150px;
}

.tab [type=radio] {
    display: none;  

}

.tabcontent {
    position: absolute;
    top: 28px;
    left: 0;
    background: #FFF;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
    
    /* Handy trick, thanks to Nick Craver on Stackoverflow.com */
    overflow-y: scroll;
    overflow-x: hidden;
}
[type=radio]:checked ~ label {
  background: #FFF;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .tabcontent {
  z-index: 1;
}


/* Deals with the text and content of the questions on the Info page */
.question {
    padding: 10px 20px;
    min-height: 75px;
    border-top: 5px solid #eee;
}

.question h2 {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question p {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}


/* Deals with the text and content of the farm blurb tab on the Info page */
#farmBlurb {
    padding: 10px 20px;
    
    border-top: 5px solid #eee;
}

#farmBlurb h2 {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#farmBlurb p {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;

    text-indent: 30px;
    margin-bottom: 10px;
    color: black;
}


/* CSS for the order form page */
.content {
    overflow-y: auto;
    overflow-x: hidden;
}


fieldset {
    border: 5px solid #eee;
}

fieldset legend {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.editor-label {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

editor-field {
    font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

.InfoFields {
    float: left;
}

#commentBox {
    float: right;
    margin-right: 15px;
}

    #commentBox textarea {
        width: 600px;
        height: 275px;
        resize: none;
    }

.Submit {
    clear: both;
}