/*Wallace Farms Style Sheet */
body {
	background: #f5e6c6
}
.wrapper {
	margin: 0 auto;
	width: 900px;
	background: #fff;
}
.banner img{
	border: none;
	margin: 0;
	padding: 0;
}
.banner {
	text-align: center;
}

.leftBar {
	float: left;
	height: 450px;
	width: 150px;	
	margin: 25px;
}
.content {
<<<<<<< HEAD
	margin: 25px;
	width: 600px;
	margin-top: 3.5em;
}
.infoBar {
	float: right;
	height: 125px;
	width: 250px;
	margin: 20px;
	clear: right;
	margin-top: 1.4em;
=======
	margin: 30px;
	width: 600px;
	margin-top: 2.75em;
}
.content img{
	float:left;
	border: none;
	padding: 20px;
}
.content h3{
	text-align: center;
}
.infoBar {
	float: right;
	max-width: 250px;
	margin: 20px;
	padding: 20px;
	clear: right;
	margin-top: 1.4em;
	background: #c80000;
	color: white;
	border-radius: 10px;
	text-align: center;
}
.address{
	float: right;
	margin-top: 20px;
	margin-right: 12px;
	clear: right;
	text-align: center;
>>>>>>> origin/simosBranch
}
.rightBar {
	float: right;
	height: 275px;
	width: 250px;
	margin: 20px;
	clear: right;
}
.footer {
<<<<<<< HEAD
	clear: both; 
}
=======
    ##background-color: #c80000;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.copyright {
    float: left;
    font-size: 12px;
    color: black;
}

.links {
    float: right;
    font-size: 12px;
    color: black;
}

/*Float code from css-tricks.com*/

a {
    color: rgb(100, 100, 100);
}
>>>>>>> origin/simosBranch
