@model IEnumerable<WallaceFarms.Order>
@{
    ViewBag.Title = "Orders of Beef";
}

<h2>Orders of Beef</h2>

<h2><strong>Products:</strong> (<a href="/OrderAccess/Create" style="color: blue;">create new</a>)</h2>
<br />


<div style="min-height: 150px; font-size: 1.25em;">
	@foreach ( var order in Model )
	{
		<div style="margin-bottom: .5em;">
			<div class="listing-item name">@order.Name</div> 
            <div class="listing-item">[@order.OrderID]</div> 
			<div class="listing-item">[@order.Email]</div> 
			<div class="listing-item">[@order.Phone]</div>
            <div class="listing-item">[@order.Status]</div> 
			<div class="listing-item">(<a href="/OrderAccess/Edit/@order.OrderID"  style="color: blue;">edit</a>)</div>
            <div class="listing-item">(<a href="/OrderAccess/Delete/@order.OrderID"  style="color: blue;">delete</a>)</div>
		</div>
	}
</div>