@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>
	<body>

<div class="frame">
	
<div class="wrapper">
	<div class="banner"></div>
	<div class="content">
	
	<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1">
       <label for="tab-1">About the Order Process</label>
       
       <div class="tabcontent">
            <p>
                       What is the average size of an order of beef?<br />
			We sell whole, halves, or half of halves.<br /><br />
			
			What types of cuts of beef are available from the butcher?<br />
			This is negotiated between you and the butcher.<br /><br />

			How do I place an order?<br />
			You can use our website Order page.<br /><br />

			How long will it take for my order to be ready?<br />
			As orders are collected, we send groups of cattle to the slaughterhouse (timing is negotiable). It will take approximately two weeks from the time the cow is slaughtered.<br /><br />
			
			How much does an order of beef cost?<br />
			We charge the current market price for freezer beef on the day the cow is slaughtered.<br /><br />
			
			How do I pay for the beef?<br />
			You pay the butcher for the cutting and wrapping and Wallace Farm for the cut and wrapped weight of their order.<br /><br />
			
			At what location do I pick up the beef?<br />
			You can pick up the beef at one of the two the butchers' shops.<br /><br />
            </p>
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">About the Cows</label>
       
       <div class="tabcontent">
            <p>
                       What breeds of cows are on the farm?<br />
			Our cattle are Angus, Herford, Angus Herford Cross, and Red Angus.<br /><br />

			Are the cows given added hormones or antibiotics?<br />
			No, our cattle are hormone and antibiotic free.<br /><br />

			What are the cows fed?	<br />
			Our cattle are fed grain and hay.<br /><br />

			What grade of beef comes from the cows?<br />
			We raise US choice beef, the USDA's second highest quality of beef.<br /><br />
            </p>
       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1" checked>
       <label for="tab-3">About the Farm</label>
     
       <div class="tabcontent">
           stuff 3
       </div> 
   </div>
    
</div>
		
	</div>
	<div class="menu"><ul>
		<li><a href="Info">About Us</a></li>
		
		<li id="right_menu"><a href="Order">Order Beef</a></li>
	</ul>
	<div id="footer">
			<span class="copyright"> &copy; 2014 Wallace Farm</span>
	</div>
	</div>
	
</div>

</div>
</body>
</html>