@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>
	<body>
		<div class="wrapper">
		<div class="menu">
			<p id="mainnav"><ul>
				<li><a href="Index">Home</a></li>
                <!-- wallaceFarms/Info could be an option -->
				<li><a href="Info">Information</a></li>
				<li><a href="Order">Order</a></li>
				</ul>
			</p>
		</div>
		
		<div class="banner">
			<h1>Information</h1>
		</div>
		
		<div class="leftBar">
			<p>The left bar is sooo great.  I wish the left bar would never end.</p>
		</div>
		
		<div class="infoBar">
			<p>Information!  Oh, yeah!  I can't get enough information!</p>
		</div>
		
		
		<div class="rightBar">
			<p>...Meh.  This right text is BORING.  BOOOOORRRRINGGGGG!!!</p>
		</div>
		
		<div class="content">
			<p>
                This is where you see FAQ, diagrams and what not.  But we didn't make any yet so you'll just
                Have to use that fine brain of yours.  Go on, don't be afraid to think.
			</p>
		</div>
		
		<div class="footer">
			<p>Wallace Farm<br />502 Smalls Ferry Road<br />New Castle, PA 16102<br />724-667-7801<br /></p>
		</div>
		
		</div>
	</body>
</html>