@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>
	<body>

<div class="frame">
	
<div class="wrapper">
	<div class="banner"></div>
	<div class="content">
	
	<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1">
       <label for="tab-1"><span class="tabButton">The Order Process</span></label>
       
       <div class="tabcontent">

            <div class="question">
                <h2>What is the average size of an order of beef?</h2>
			    <p>We sell whole, halves, or half of halves.</p>
            </div>
			
            <div class="question">
			    <h2>What types of cuts of beef are available from the butcher?</h2>
			    <p>This is negotiated between you and the butcher.</p>
            </div>

           <div class="question">
			    <h2>How do I place an order?</h2>
			    <p>You can use our website Order page.</p>
           </div>

           <div class="question">
			    <h2>How long will it take for my order to be ready?</h2>
			    <p>As orders are collected, we send groups of cattle to the slaughterhouse (timing is negotiable). It will take approximately two weeks from the time the cow is slaughtered.</p>
			</div>

            <div class="question">
			    <h2>How much does an order of beef cost?</h2>
			    <p>We charge the current market price for freezer beef on the day the cow is slaughtered.</p>
			</div>

            <div class="question">
			    <h2>How do I pay for the beef?</h2>
			    <p>You pay the butcher for the cutting and wrapping and Wallace Farm for the cut and wrapped weight of their order.</p>
			</div>

            <div class="question">
			    <h2>At what location do I pick up the beef?</h2>
			    <p>You can pick up the beef at one of the two the butchers' shops.</p>
            </div>

       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2"><span class="tabButton">The Cows</span></label>
       
       <div class="tabcontent">
            <div class="question">
                <h2>What breeds of cows are on the farm?</h2>
			    <p>Our cattle are Angus, Herford, Angus Herford Cross, and Red Angus.</p>
            </div>

            <div class="question">
			    <h2>Are the cows given added hormones or antibiotics?</h2>
			    <p>No, our cattle are hormone and antibiotic free.</p>
            </div>

            <div class="question">
			    <h2>What are the cows fed?</h2>
			    <p>Our cattle are fed grain and hay.</p>
            </div>

            <div class="question">
			    <h2>What grade of beef comes from the cows?</h2>
			    <p>We raise US choice beef, the USDA's second highest quality of beef.</p>
            </div>

       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1" checked>
       <label for="tab-3"><span class="tabButton">The Farm</span></label>
     
       <div class="tabcontent">
           <div id="farmBlurb">

               <h2>What is Wallace Farm?</h2>
                <p>Wallace Farm is located among the beautiful rolling hills of Western Pennsylvania in Lawrence County 
                  just south west of the city of New Castle.  Established in 1848, the farm has been home to six generations 
                  of dedicated farm folk.  Of Scottish descent, the family is as proud and stubborn as their highland 
                  ancestors with tightly knit extended family and a calling to serve the Lord, the land, and the livestock.  
                  We currently raise beef cattle for commercial sale both at auction and as freezer beef.</p>

               <p>We have a cow-calf operation, raising our cattle entirely on our own farm where we have complete control 
                   over how and what they are fed.  The brood cows are grass fed, producing calves from January through 
                   May.  The calves stay at their mamas' sides for the first year, feeding on mother's milk, grass and a supplement 
                   of grain offered in free choice creep feeder.  As yearlings the calves are weaned and moved away from the cows to be fed out
                   for beef or raised as replacement breeding stock.</p>

               <p>The young beef cows are housed in a feed lot with plenty of space both inside and out and are fed a mixture of 
                   ground beef (a combination of whole-ear corn and small grains) and also hay.  At approximately two years, 
                   they are fully grown and ready for sale.</p>

               <p>Wallace Farm is not organic.  We use fertilizers and minimal insecticides on our crops, these chemicals are carefully and 
                   safely applied by certified experts.  Our cattle are never fed steroids.  We do treat them with antibiotics if they get 
                   sick, but they are never sent to market until sufficient time has passed for medications to clear their systems.</p>
            </div>
       </div> 
   </div>
    
</div>
		
	</div>
	<div class="menu"><ul>
		<li><a href="Info">About Us</a></li>
		
		<li id="right_menu"><a href="OrderPage">Order Beef</a></li>
	</ul>
	<div id="footer">
			<span class="copyright"> &copy; @DateTime.Today.Year Wallace Farm</span>
	</div>
	</div>
	
</div>

</div>
</body>
</html>