@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>
	<body>

<div class="frame">
	
<div class="wrapper">
	<div class="banner"></div>
	<div class="content">
	
	<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1">
       <label for="tab-1">About the Order Process</label>
       
       <div class="tabcontent">
           stuff
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">About the Cows</label>
       
       <div class="tabcontent">
           stuff 2
       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1" checked>
       <label for="tab-3">About the Farm</label>
     
       <div class="tabcontent">
           stuff 3
       </div> 
   </div>
    
</div>
		
	</div>
	<div class="menu"><ul>
		<li><a href="Info">About Us</a></li>
		
		<li id="right_menu"><a href="Order">Order Beef</a></li>
	</ul>
	<div id="footer">
			<span class="copyright"> &copy; 2014 Wallace Farm</span>
	</div>
	</div>
	
</div>

</div>
</body>
</html>