@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
	<head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="farm, wallace, newcastle, beef, pennslyvania, angus, herford, fresh, order">
        <meta name="description" content="Welcome to Wallace Farm, Newcastle PA - Quality fresh Beef available for order.">
	</head>

	<body>

		<div class="frame">	
            <div class="wrapper">
	            <div class="banner"></div>
	            <div class="content" id="filled">
                    <article>
	                    <h2>Place Your Order Here!</h2>
                        <form>
                            Name: <input type="text" class="textboxclass" name="name"><br /><br />
				            Phone Number: <input type="tel" class="textboxclass2" name="phone"><br /><br />
				            Email: <input type="email" class="textboxclass" name="email"><br /><br />  
                            Choose an Amount: 
                                <select class="dropdown2">
								    <option value="whole">Whole</option>
							        <option value="half">Half</option>
							        <option value="quarter">Quarter (half of a half)</option>
							    </select><br /><br />
                            <input type="submit" value="Submit">
                        </form>
                    </article>
	       
                </div>

	            <div class="menu"><ul>
		                <li><a href="Info">About Us</a></li>
		
		                <li id="right_menu"><a href="OrderPage">Order Beef</a></li>
	                </ul>

	                <div id="footer">
			                <span class="copyright"> &copy; 2014 Wallace Farm</span>
	                </div>
	            </div>

	        </div>

         </div>
	</body>
</html>