@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!DOCTYPE html>
<html>
	<head>
@*		<meta charset="utf-8" />*@
		<title>Wallace Farms</title>
@*		<link rel="stylesheet" type="text/css" href="Content/Site.css" />
		<link rel="stylesheet" type="text/css" href="Content/Menu.css" />*@
	</head>
	<body>
		<div class="wrapper">
		<div class="banner">
			<h1>Wallace Farms</h1>
		</div>
		
		<div class="menu">
			<p id="mainnav">
				<a href="index.html">Home</a>	|
				<a href="info.html">Information</a>	|
				<a href="order.html">Order</a>	|
			</p>
		</div>
		
		<div class="leftBar">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum, nunc quis eleifend blandit, justo nisl sodales est, eu ullamcorper e </p>
		</div>
		
		<div class="infoBar">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum, nunc quis eleifend blandit, justo nisl sodales est, eu ullamcorper e </p>
		</div>
		
		
		<div class="rightBar">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum, nunc quis eleifend blandit, justo nisl sodales est, eu ullamcorper e </p>
		</div>
		
		<div class="content">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum, nunc quis eleifend blandit, justo nisl sodales est, eu ullamcorper enim libero a erat. Donec nec est augue. Donec aliquam nulla vitae risus fermentum, vitae ullamcorper elit sodales. Nunc orci felis, semper a viverra at, porta non urna. Sed iaculis aliquam aliquet. Maecenas id libero eget risus cursus pulvinar eget ac massa. Praesent eu tellus nisi. 

<br />ed commodo sodales bibendum. Morbi dignissim quam vel metus commodo sodales a ac orci. Duis tincidunt erat vitae nulla faucibus consequat. Fusce in vestibulum orci. Duis ac lacinia dui. Nam quis magna ante. Etiam ut nunc ornare sem volutpat ultrices. Aliquam sed aliquam felis. Proin et mattis mi. Nulla faucibus arcu in erat mattis, malesuada hendrerit risus volutpat. Sed fringilla magna turpis, vehicula mattis leo ultricies sit amet. Etiam in ante vel est pharetra viverra non ut enim. 

<br />Sed et dui commodo, vulputate ligula non, semper quam. Sed sit amet semper lectus. Quisque congue iaculis sem et fringilla. Aenean ac bibendum elit. Integer convallis mattis neque, vitae sagittis diam tempus non. Nullam orci massa, molestie ac sagittis eu, accumsan non enim. Phasellus scelerisque arcu turpis, sed sodales ligula ultricies quis. Curabitur congue turpis urna. 

			</p>
		</div>
		
		<div class="footer">
			<p>Geneva College<br />3200 College Avenue<br />Beaver Falls, PA 15010<br />800-847-8255<br />web@geneva.edu</p>
		</div>
		
		</div>
	</body>
</html>